:root {
    --mist: #d9e0e7;
    --charcoal: #2d353c;
    --crimson: #ff0000;
    --tomato: #ff5b57;
    --eggshell: #faf4f3;
    --onyx: #120d0d;
    --rose-pink: #fbebeb;
    --white-wash: #fefffc;
    --blood-red: #D91720;
    --blue-ribbon: #337FD0;
    --light-red : #eb646b;
  }
  